In [1]:
#Matplotlib notebook

ModuleNotFoundError: No module named 'numpy'

In [2]:
pip install numpy

Collecting numpy
  Downloading numpy-1.22.3-cp38-cp38-win_amd64.whl (14.7 MB)
Installing collected packages: numpy
Successfully installed numpy-1.22.3
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install matplotlib

Collecting matplotlib
  Downloading matplotlib-3.5.2-cp38-cp38-win_amd64.whl (7.2 MB)
Collecting kiwisolver>=1.0.1
  Downloading kiwisolver-1.4.2-cp38-cp38-win_amd64.whl (55 kB)
Collecting fonttools>=4.22.0
  Downloading fonttools-4.33.3-py3-none-any.whl (930 kB)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\marc\anaconda3\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: numpy>=1.17 in c:\users\marc\anaconda3\lib\site-packages (from matplotlib) (1.22.3)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\marc\anaconda3\lib\site-packages (from matplotlib) (3.0.4)
Requirement already satisfied: packaging>=20.0 in c:\users\marc\anaconda3\lib\site-packages (from matplotlib) (21.3)
Collecting cycler>=0.10
  Downloading cycler-0.11.0-py3-none-any.whl (6.4 kB)
Requirement already satisfied: pillow>=6.2.0 in c:\users\marc\anaconda3\lib\site-packages (from matplotlib) (9.0.1)
Requirement already satisfied: six>=1.5 in c:\users\marc\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Installing collected packages: kiwisolver, fonttools, cycler, matplotlib
Successfully installed cycler-0.11.0 fonttools-4.33.3 kiwisolver-1.4.2 matplotlib-3.5.2
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install pandas

Collecting pandas
  Downloading pandas-1.4.2-cp38-cp38-win_amd64.whl (10.6 MB)
Requirement already satisfied: numpy>=1.18.5 in c:\users\marc\anaconda3\lib\site-packages (from pandas) (1.22.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\marc\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\marc\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\marc\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pandas
Successfully installed pandas-1.4.2
Note: you may need to restart the kernel to use updated packages.

In [5]:
pip install sklearn

Collecting sklearn
  Downloading sklearn-0.0.tar.gz (1.1 kB)
Collecting scikit-learn
  Downloading scikit_learn-1.1.0-cp38-cp38-win_amd64.whl (7.3 MB)
Requirement already satisfied: numpy>=1.17.3 in c:\users\marc\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.22.3)
Collecting threadpoolctl>=2.0.0
  Downloading threadpoolctl-3.1.0-py3-none-any.whl (14 kB)
Collecting joblib>=1.0.0
  Downloading joblib-1.1.0-py2.py3-none-any.whl (306 kB)
Collecting scipy>=1.3.2
  Downloading scipy-1.8.1-cp38-cp38-win_amd64.whl (36.9 MB)
Building wheels for collected packages: sklearn
  Building wheel for sklearn (setup.py): started
  Building wheel for sklearn (setup.py): finished with status 'done'
  Created wheel for sklearn: filename=sklearn-0.0-py2.py3-none-any.whl size=1310 sha256=a51c981d79556d9a70452956bef1732f8e282f05c6f4c45b0404f6f331f3c665
  Stored in directory: c:\users\marc\appdata\local\pip\cache\wheels\22\0b\40\fd3f795caaa1fb4c6cb738bc1f56100be1e57da95849bfc897
Successfully built sklearn
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn, sklearn
Successfully installed joblib-1.1.0 scikit-learn-1.1.0 scipy-1.8.1 sklearn-0.0 threadpoolctl-3.1.0
Note: you may need to restart the kernel to use updated packages.

In [6]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import train_test_split

In [14]:
titanic = pd.read_csv('train_data.csv')

In [15]:
titanic.head()

,Unnamed: 0,PassengerId,Survived,Sex,Age,Fare,Pclass_1,Pclass_2,Pclass_3,Family_size,Title_1,Title_2,Title_3,Title_4,Emb_1,Emb_2,Emb_3
0,0,1,0,1,0.2750,0.014151,0,0,1,0.1,1,0,0,0,0,0,1
1,1,2,1,0,0.4750,0.139136,1,0,0,0.1,1,0,0,0,1,0,0
2,2,3,1,0,0.3250,0.015469,0,0,1,0.0,0,0,0,1,0,0,1
3,3,4,1,0,0.4375,0.103644,1,0,0,0.1,1,0,0,0,0,0,1
4,4,5,0,1,0.4375,0.015713,0,0,1,0.0,1,0,0,0,0,0,1

In [16]:
#3 factors: Family Size, Sex, Fare, Survived
titanic1=titanic[['Family_size', 'Sex', 'Fare', 'Survived']]

In [18]:
#Training for X and Y
X = titanic1[['Family_size', 'Sex', 'Fare']]
y = titanic1['Survived']

In [20]:
X
y

0      0
1      1
2      1
3      1
4      0
      ..
787    0
788    1
789    0
790    0
791    0
Name: Survived, Length: 792, dtype: int64

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

In [22]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors = 5)